body{
    background-color: #f1f1f1;
    
}

.sidenav {
  margin-top: 56px;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    font-size: 0px;
  }
  
  .sidenav:hover{
    width: 250px;
    font-size:20px;
  }

  .sidenav a {
    padding: 25px;
    text-decoration: none;
    color: #404041;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
  }
  .sidenav a img{
    width: 28px;
    color: #0574b0;
  }

  .sidenav a span{
    padding-left: 15px;

  }
  
  .sidenav a:hover {
    color: #0574b0;

  }

  .main {
    margin-left: 80px; 
    padding: 0px 10px;
  }

  h1 {
      color: #404041;
      font-family: 'Roboto', sans-serif;
      font-weight: Bold;
      font-size: 28px

  }

  h2 {
    color: #404041;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
    font-size: 26px

}

.card{
  margin: auto;
  
  box-shadow: 0px 0px 5px lightgray;
  
}

.contentPad{
  margin-left: 5px;
}

.bottomButton{
  width: 100%;
  border: none;
  text-align: center;
  font-size: 16px;
}